/* レスポンシブデザイン */
@media (max-width: 600px) {
    .novel-wrapper {
        padding: 0.8rem;
        margin: 0.8rem;
    }
    .novel-title, .mypage-title {
        font-size: 1.6rem;
    }
    .novel-item-info {
        flex-direction: column;
        align-items: flex-start;
    }
    .novel-item-info span {
        margin-bottom: 0.3rem;
    }
    .novel-search-sort {
        width: 100%;
    }
    .novel-sort {
        margin-top: 0.5rem;
    }
    .info-item input {
        width: 100%;
    }
    .favorite-button-container {
        position: static;
        margin-top: 0.5rem;
        text-align: right;
    }
    .nav-link {
        padding: 0.3rem;
        font-size: 0.9rem;
    }
    
    /* 検索ボタンのレスポンシブスタイル */
    .novel-search button {
        padding: 0.5rem;
        font-size: 0.8rem;
        min-width: 50px;
    }
    
    /* ダークモード時の検索ボタンのレスポンシブスタイル */
    body.dark-mode .novel-search button {
        padding: 0.5rem;
        font-size: 0.8rem;
        min-width: 50px;
    }
}